div.chrono-container {
    margin-top: 7em;
}

div.chrono-container > div.headline {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0.5em;
}

div.chrono-container > div.headline > span.version-number {
    color: #222222;
    font-size: 0.6em;
    font-weight: bold;
    z-index: 0;
}
