form.ui.form > div.field.disabled {
    opacity: 1;
}

form.ui.form > div.field.disabled > textarea {
    color: rgba(0, 0, 0, 0.4);
}

form.ui.form > div.disabled.field > label {
    opacity: 1;
}

form.ui.form > div.field.categories {
    margin-bottom: 0.25em;
}

div.field.categories > div.ui.label {
    margin-bottom: 0.25em;
    margin-right: 0.2em;
}
