div.note-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

div.note-container > div.ui.cards {
    justify-content: center;
}

div.note-container.mobile > div.note-menu > div.buttons {
    position: fixed;
    bottom: 7%;
    right: 5%;
    z-index: 2;
}
